# --- Environment files ---
.htaccess
include/global.php
config/local.php

# --- Dependency folders ---
vendor/
user/images
user/upload

# --- Cache, logs, temporary files ---
/cache/
/tmp/
/logs/
/sessions/
/storage/
/bootstrap/cache/

# --- IDE and OS files ---
.vscode/
.idea/
.DS_Store
Thumbs.db
